{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bowser tite -->
    <title>جعبه ابزار دیوار | پیش بینی قیمت خودرو</title>
    <!-- Browser icon -->
    <link rel="icon" href="/divar/images/favicon.ico">
    <!-- Custom style -->
    <link rel="stylesheet" href="/divar/styles/style.css">
    <link rel="stylesheet" href="/divar/predict-style/predict-style.css">
    <!-- aos -->
    <link rel="stylesheet" href="./node_modules/aos/dist/aos.css">
</head>

<body>
    <!-- - - - - - - - - Start Header - - - - - - - - -->
    <header class="header">
        <div class="nav__toggler" id="toggle">
            <div class="bar bar-1"></div>
            <div class="bar bar-2"></div>
            <div class="bar bar-3"></div>
        </div>
        <img src="/divar/images/logo.png" class="header--logo" alt="gajino logo">
        <nav class="nav">
            <ul class="header--list nav__list">
                <li class="header--list__item"><a href="./index.html">خانه</a></li>
                <li class="header--list__item"><a href="#">اطلاعات خودروها</a></li>
                <li class="header--list__item"><a href="./predict.html">پیش بینی قیمت خودرو</a></li>
                <li class="header--list__item"><a href="#">خودرو های ذخیره شده</a></li>
            </ul>
        </nav>
        <a href="./register.html"><button class="header--button">از اینجا ثبت نام کن</button></a>
        <img src="/divar/images/download-icon.png" class="header-mobile-icon" alt="icon">
    </header>
    <main>
        <!-- - - - - - - - - End Header - - - - - - - - -->

        <!-- <h2>Welcome to Car price Predict</h2>
        <form method="POST" class="post-form">
            <button type="submit" class="save btn btn-default">Do</button>
        </form> -->

        <!-- - - - - - - - - Start Predict - - - - - - - - -->
        <section class="predict-form-page">
            <div class="predict--text" data-aos="zoom-in" data-aos-duration="1500">
                <h2>پیش بینی حدودی قیمت خودرو</h2>
                <p>مشخصات خواسته شده در فرم را کامل کنید و سپس با فشردن دکمه (مشاهده قیمت) نتایج را می توانید مشاهده
                    کنید</p>
            </div>

            <div class="predict--form" data-aos="zoom-in" data-aos-duration="1500">
                <form action="#" method="post"> {% csrf_token %}

                    <label for="car-name">نام خودرو</label>
                    {{ form.name }}
                    <label for="car-production-year">سال تولید خودرو</label>
                    {{ form.model }}

                    <label for="">میزان کیلومتر خودرو</label>
                    {{ form.kilometers }}
                    <input type="submit" value="مشاهده قیمت">
                </form>
                <div class="predict__image" data-aos="zoom-in" data-aos-duration="1500">
                    <img src="/divar/images/3d-stripy-hat-man.png" alt="image">
                </div>
            </div>
        </section>
        <!-- - - - - - - - - End Predict - - - - - - - - -->

        <!-- - - - - - - - - Start Footer - - - - - - - - -->
        <footer class="footer">
            <div class="footer--container">
                <div class="footer--about">
                    <img src="/divar/images/logo.png" alt="logo">
                    <h3>درباره ما</h3>
                    <p>دیوار از سال ۱۳۹۲ با هدف خرید و فروش بدون واسطهٔ آنلاین آغاز به کار کرد. امتیاز برند دیوار توسط
                        شرکت
                        «آگه پردازان
                        هوشمند» (سهامی خاص) در تمامی مراجع قانونی ثبت شده است.
                    </p>
                </div>
                <div class="footer--quick-access">
                    <h3>دسترسی سریع</h3>
                    <ul>
                        <a href="#">
                            <li>خانه</li>
                        </a>
                        <a href="#">
                            <li>اطلاعات خودرو</li>
                        </a>
                        <a href="#">
                            <li>پیش بینی قیمت خودرو</li>
                        </a>
                        <a href="#">
                            <li>خودرو ذخیره شده</li>
                        </a>
                    </ul>
                </div>
                <div class="footer-namad">
                    <div class="footer-namad__text">
                        <h3>نماد های اعتماد</h3>
                    </div>
                    <div class="footer-namad__img">
                        <img src="/divar/images/footer-trust-enamad.png" alt="logo">
                        <img src="/divar/images/footer-trust-samandehi.webp" alt="logo">
                        <img src="/divar/images/footer-trust-ecunion.webp" alt="logo">
                    </div>
                </div>
            </div>
        </footer>
        <!-- - - - - - - - - End Footer - - - - - - - - -->

        <script src="/divar/script/main.js"></script>
        <script src="./node_modules/aos/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
</body>

</html>
